//400
@font-face {
    font-family: 'Inter-Regular';
    src: url(fonts/inter-Regular.woff) format('woff'),
         url(fonts/Inter-Regular.woff2) format('woff2'),
         url(fonts/Inter-Regular.otf) format('otf');
  }
   
  //600
  @font-face {
    font-family: 'Inter-SemiBold';
    src: url(fonts/Inter-SemiBold.otf) format('otf'),
         url(fonts/Inter-SemiBold.woff) format('woff'),
         url(fonts/Inter-SemiBold.woff2) format('woff2');
  }
//700
  @font-face {
    font-family: 'Inter-Bold';
    src: url(fonts/Inter-Bold.otf) format('otf'),
         url(fonts/Inter-Bold.woff) format('woff'),
         url(fonts/Inter-Bold.woff2) format('woff2');
  }

  //500
  @font-face {
    font-family: 'Inter-Medium';
    src: url(fonts/Inter-Medium.otf) format('otf'),
         url(fonts/Inter-Medium.woff) format('woff'),
         url(fonts/Inter-Medium.woff2) format('woff2');
  }

  @font-face {
    font-family: 'gtwalsheimpro_condensedmedium';
    src: url(fonts/gtwalsheimpro_condensedmedium.otf) format('otf'),
         url(fonts/gtwalsheimpro_condensedmedium.woff) format('woff'),
         url(fonts/gtwalsheimpro_condensedmedium.woff2) format('woff2');
  }

  @font-face {
    font-family: 'gtwalsheimpro_condensedmediumoblique';
    src: url(fonts/gtwalsheimpro_condensedmediumoblique.otf) format('otf'),
         url(fonts/gtwalsheimpro_condensedmediumoblique.woff) format('woff'),
         url(fonts/gtwalsheimpro_condensedmediumoblique.woff2) format('woff2');
  }
  
    